@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<div class="well">
    
    <form action="/Main/showClient" method="post">
        <input type="submit" value="click to see all the clients" name="see">
    </form>

    <form action="/Main/deleteVideo" method="post">
        <input type="submit" value="click to delete any Video" name="see">
    </form>
</div>
