@{
    ViewBag.Title = "SaveVideo";
}


<html>
<head>
    <title>Html 5 video test</title>
</head>
<body>
    
    <div class="well" style="background-color:aliceblue">
        <p>Video is upload successfully press home button to View on the Video List</p>
    </div>
    

    <video width="320" height="240" controls>
        <source src=~/Content/Video/@ViewBag.p type="video/mp4">
         Your browser does not support the video tag.
    </video>
      
</body>

</html>





